@model List<DAL.ORM.Entity.Customer>
@{
    /**/

    ViewBag.Title = "List";
}
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@

<h2>Müşteriler</h2>
@*<div class="col-lg-12">
        <section class="panel">


            <header class="panel-heading">
                Müşteriler
            </header>
            <div class="btn-group">
                <a href="/CRMarea/Customer/Add" class="btn btn-primary">Ekle</a>
            </div>
            <br />
            <br />
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
            <br>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Adı</th>
                        <th>Tel</th>
                        <th>Adres</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Phone</td>
                            <td>@item.Address</td>
                            <td>
                                <a href="@Url.Action("Details","Customer",new { id=item.ID})" class="btn btn-primary"><i class="glyphicon glyphicon-info-sign"></i></a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </div>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>*@




<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">

                <div class="btn-group">
                    <a href="/CRMarea/Customer/Add" class="btn btn-primary">Yeni Ekle</a>
                </div>
                <div class="btn-group">
                    <a href="/CRMarea/Customer/Add" class="btn btn-primary">@TempData["name1"]</a>
                </div>
                
            </div>
            <div class="body">
                <div class="btn-group">

                    <a type="button" class="btn btn-success" tabindex="0" aria-controls="DataTables_Table_1" href="/CRMarea/Customer/ExportToExcel">
                        <span>Excel</span>
                    </a>
                    <a type="button" class="btn btn-danger" tabindex="0" aria-controls="DataTables_Table_1" href="/CRMarea/Customer/ExpPDF">
                        <span>PDF</span>
                    </a>
                   
                </div>

                <div class="table-responsive">
                    <br />
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>

                                <th>Adı</th>
                                <th>Tel</th>
                                <th>Adres</th>
                                <th>Detaylar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Phone</td>
                                    <td>@item.Address</td>
                                    <td>
                                        <a href="@Url.Action("Details","Customer",new { id=item.ID})" class="btn btn-primary"><i class="glyphicon glyphicon-info-sign"></i></a>
                                    
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

 